<section>
  <div class="page-header">
    <h1>Test API</h1>
  </div>
<blockquote>
<p>Replace token with your token and device label with created device label</p>
</blockquote>
<pre class="highlight shell"><code style="font-size: 15px">
  Sample: /api/things/<span style="font-weight: bold; font-size: 15px">d4dec800473dd1df8d28e6a626f5e5e1/air</span>
  </code></pre>

  <div class="col-md-12">
    <form name="vm.form.apiForm" class="form-horizontal" ng-submit="vm.send()">
      <fieldset>
        <div class="row">
          <div class="form-group col-md-4">
            <label class="control-label" for="method">Method</label>
            <select name="method" type="text" class="form-control" ng-model="vm.api.method" ng-options="method for method in vm.methods" id="method"></select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-8">
            <label class="control-label" for="name">URL</label>
            <input name="name" type="text" class="form-control" ng-model="vm.api.url" id="name"  placeholder="URL" required>
          </div>
        </div>
        <div ng-show="vm.api.method==='post'">
          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label" for="headerT">Headers Type</label>
              <input name="headerT" type="text" class="form-control" ng-model="vm.api.headerType" id="headerT" placeholder="Headers">
            </div>
            <div class="form-group col-md-4">
              <label class="control-label" for="headerV">Headers Value</label>
              <input name="headerV" type="text" class="form-control" ng-model="vm.api.header[vm.api.headerType]" id="headerV" placeholder="Headers">
            </div>
          </div>
          <div class="row">
          <div class="form-group col-md-8">
              <label class="control-label" for="body">Body</label>
              <textarea name="body" type="text" class="form-control" ng-model="vm.api.body" id="body" placeholder="Body"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
        <div class="form-group col-md-8">
          <button type="submit" class="btn btn-default">Send</button>
        </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="form-group col-md-12">
    <div class="row">
      <div class="col-md-8">
          <label class="control-label" for="body">Response</label>
          <textarea readonly name="response" type="text" class="form-control" ng-model="vm.api.response" id="response" style="height:300px" placeholder="Response"></textarea>
      </div>
    </div>
  </div>
</section>
