<section>
  <div class="page-header">
    <h1>Documentation</h1>
  </div>
<h3 id="send-values-to-one-variable">Send values</h3>

<blockquote>
<p>Http Request to send values</p>
</blockquote>
<pre class="highlight shell"><code>POST /api/things/{token}/{deviceid} HTTP/1.1
Host: healthnow.herokuapp.com
Content-Type: application/json

{"body":{"data":{"co2":{"value":12},"dustpm25":{"value":52},"dustpm10":{"value":42},"noise":{"value":12},"temperature":{"value":45},"humidi":{"value":74}},"effective_time_frame": {"date_time": 1464661469000}}}</code></pre>
<blockquote>
<p>Example request to send values with time</p>
</blockquote>
<pre class="highlight shell"><code><span class="c"># Request</span>
<code>
curl -X POST -H <span class="s2">"Content-Type: application/json"</span> -d <span class="s1">'{"body":{"effective_time_frame":{"date_time":1464661469000},"co2":{"value":142},"dustpm25":{"value":152},"dustpm10":{"value":142},"noise":{"value":152},"temperature":{"value":425},"humidity":{"value":524}}}'</span>https://healthnow.herokuapp.com/api/things/fhkjfhxfdjhph/testid</code></pre>

<pre class="highlight json">
  <span class="c"># Response</span>
  <code>{
  "__v": 0,
  "device": {
    "_id": "58a094bb40701ab003002315",
    "name": "test",
    "deviceID": "thing"
  },
  "_id": "58a09c335227a0500f8ce1bf",
  "created": "2017-02-12T17:32:35.345Z",
  "body": {
    "data": {
      "humidi": {
        "value": 74
      },
      "temperature": {
        "value": 45
      },
      "noise": {
        "value": 12
      },
      "dustpm10": {
        "value": 42
      },
      "dustpm25": {
        "value": 52
      },
      "co2": {
        "value": 12
      }
    },
    "effective_time_frame": {
      "date_time": "2016-05-31T02:24:29.000Z"
    }
  }
}</code></pre>
<h3 id="send-values-to-one-variable">Get values</h3>

<blockquote>
<p>Http Request to send values</p>
</blockquote>
<pre class="highlight shell"><code>GET /api/things/{token}/{deviceid} HTTP/1.1
Host: healthnow.herokuapp.com
</code></pre>
<blockquote>
<p>Example request to get values</p>
</blockquote>
<pre class="highlight shell"><code><span class="c"># Sample Request</span>
<code>
curl GET https://healthnow.herokuapp.com/api/things/fhkjfhxfdjhph/testid</code></pre>

<pre class="highlight json">
  <span class="c"># Sample Response</span>
  <code>[
  [
  {
  "__v": 0,
  "device": {
    "_id": "58a094bb40701ab003002315",
    "name": "test",
    "deviceID": "thing"
  },
  "_id": "58a09c335227a0500f8ce1bf",
  "created": "2017-02-12T17:32:35.345Z",
  "body": {
    "data": {
      "humidi": {
        "value": 74
      },
      "temperature": {
        "value": 45
      },
      "noise": {
        "value": 12
      },
      "dustpm10": {
        "value": 42
      },
      "dustpm25": {
        "value": 52
      },
      "co2": {
        "value": 12
      }
    },
    "effective_time_frame": {
      "date_time": "2016-05-31T02:24:29.000Z"
    }
  }
},
  {
  "__v": 0,
  "device": {
    "_id": "58a094bb40701ab003002315",
    "name": "test",
    "deviceID": "thing"
  },
  "_id": "58a09c335227a0500f8ce100",
  "created": "2017-02-12T17:32:35.345Z",
  "body": {
    "data": {
      "humidi": {
        "value": 84
      },
      "temperature": {
        "value": 95
      },
      "noise": {
        "value": 22
      },
      "dustpm10": {
        "value": 42
      },
      "dustpm25": {
        "value": 52
      },
      "co2": {
        "value": 12
      }
    },
    "effective_time_frame": {
      "date_time": "2016-05-31T02:24:29.000Z"
    }
  }
}
]
]</code></pre>
