<div  ng-repeat="device in vm.devices | filter:query">   
        <div class="col-sm-4 col-md-4">
                                       
    <div class="thumbnail">
       <div class="caption">
                <div col-sm-3>
                        <label>Device Name</label>
                        <p class="lead" ng-bind="device.name"></p>
                        <label>Device Label</label>
                        <p class="lead" ng-bind="device.deviceLabel"></p>
                </div>
        </div>	
		<hr role="separator" class="divider">
            <p align="center">
                <a class="btn btn-link" ng-click="vm.openViewModal(device._id)">
                        <i class="glyphicon glyphicon-list-alt"></i>
                </a>  
                
                <a class="btn btn-link" ng-click="vm.openEditModal(device._id)">
                        <i class="glyphicon glyphicon-edit"></i>
                </a>  
                
                <a class="btn btn-link" ng-click="vm.openDeleteModal(device._id)">
                        <i class="glyphicon glyphicon-trash"></i>
                </a>  
                
            </p>
    
      
      </div>

  </div>  
 </div>